@use '../../../../styles/variables' as vars;

.prescricoes-medicas {
  padding: vars.$section-padding-medium;
  max-width: vars.$max-width;
  margin: 0 auto;

  h2 {
    font-size: vars.$font-size-large;
    color: vars.$primary-color;
    margin-bottom: 1rem;
    border-bottom: 2px solid vars.$primary-color;
    padding-bottom: 0.5rem;
  }

  .tabela-prescricoes {
    margin-top: 1rem;
    background-color: vars.$text-light;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }
}
